@media  (min-width: 1200px){

   	h1{
   		font-size: 56px;
   	}
   .slider_content{
   	top: 40%;
   	a{
			margin-top: 50px;
		}
   }

}
@media  (max-width: 1199px){
	h1{
   		font-size: 36px;
   	}
.slider_content{
   	top: 55%;
   	a{
			margin-top: 30px;
		}
   }
}
@media  (max-width: 1024px){
   .wrap{
   	padding: 0 10px;
   	box-sizing: border-box;
   }

}
@media  (min-width: 960px){
			.lk{
		header{
		article{
		&:first-child{
			@include span(3 first);
		}
		&:last-child{
			@include span(9 last);

			>div{
              &:nth-child(1){
              	@include span(8 of 12 first);
              }
              &:nth-child(2){
              	@include span(2 of 12);
              }
              &:nth-child(3){
              	@include span(2 of 12 last);

              }
			}

		}
	   }

	}
	}
}
@media  (min-width: 610px) and (max-width: 959px){
	.lk{
		header{
		article{
		&:first-child{
			@include span(1 first);
		}
		&:last-child{
			@include span(11 last);

			>div{
              &:nth-child(1){
              	@include span(8 of 12 first);
              }
              &:nth-child(2){
              	@include span(2 of 12);
              }
              &:nth-child(3){
              	@include span(2 of 12 last);

              }
			}

		}
	   }

	}
	}
}

@media   (max-width: 609px){
	.lk{
		header{
		article{
		&:first-child{
			@include span(1 first);
		}
		&:last-child{
			@include span(11 last);

			>div{
              &:nth-child(1){
              	@include span(4 of 12 first);
              }
              &:nth-child(2){
              	@include span(4 of 12);
              }
              &:nth-child(3){
              	@include span(4 of 12 last);

              }
			}

		}
	   }

	}
	}
}
@media  (min-width: 760px){

	ul.header_nav {
	@include inline-block-list(0);
	text-align: center;
  }
 .two_columns{

	>article, >div{
		text-align: center;
		@include span(6);
		&:nth-child(2n+1){
			@include span(6 first);
		}
		&:nth-child(2n+2){
			@include span(6 last);
		}
	}
}
.box4{
	.two_columns{
		>article{
			&:first-child{
                    @include span(3 first);
                }
                 &:last-child{
                 	@include span(9 last);
                 }
		}
	}
}
			    aside{
				@include span(4 last);
				padding-top: 65px;
			}
			.inner{
			  @include span(8 first);
			  padding-top: 45px;
			  padding-bottom: 50px;
			}

}
@media  (max-width: 759px){
     .new_friends .bordered-block {
        display: none;

     }
     .slider_wrap .slider {
        display: none;
     }
     .slider_wrap {
        height: 350px;
        background: url("../img/mobile_back.png") no-repeat center;
     }
     .slider_wrap:before, .slider_wrap:after {
        display:none !important;
     }
     .new_friends {padding-bottom: 0 !important; }
     header{
		ul.header_nav {
			position: absolute;
			background-color: #fff;
			text-align: left;
			top: 50px;
            z-index: 200;
            left: 0;
            width: 100%;
            display: none;
	          li{
	          	display: block !important;
	          	padding-left: 30px;
                    line-height: 35px;
                border-bottom: 1px solid #fff;
	          }
            }
            .ico-logo{

            }
        }
        .how_it_work{
		  height: auto;
		article{
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.inner{
		padding-bottom: 50px;
	}
	.lk{
		.navbar-toggle{
			display: block;
		}
	}

}
@media  (min-width: 850px){
	.box1{
		margin-right: 22%;
	}
	.box3{
		margin-right: 22%;
	}
	.box4{
		margin-right: 14%;
	}
	.box5{
		margin-right: 25%;
	}
}
@media  (max-width: 849px){
	header{
		.ico-logo{

		}

	}
	ul.header_nav {
	@include inline-block-list(0);
  }
  .slider_content{
  	hgroup{
				display: none;
			}
			a{
			margin-top: 50px;
		}
  }
}
@media  (min-width: 800px){
.three-columns{

	article{
		@include span(4);
		&:first-child{
			@include span(4 first);
		}
		&:last-child{
			@include span(4 last);
		}
	}

}
}
@media  (max-width: 799px){
.post{
	 article{
       margin-bottom: 20px;
	  >div:last-child{
	 	a{
	 		display: block;
	 		margin: 0 auto 20px;
	 	}
	 }
	 div.cont{
	 	text-align: center;
	 }
	 }
}
.three-columns{
	padding-left: 10px;
	padding-right: 10px;
}
}
@media  (max-width: 720px){
	.slider_content{
  	h1{
  		font-size: 42px;
  	}
  }
  ul.header_nav{
  	 li {
  	 	a{
  	 		font-size: 14px;
  	 	}
  	 }
  }
}
@media  (min-width: 661px){

.four-columns.late{

	article{

		@include span(3);
		&:first-child{
			@include span(3 first);
		}
		&:last-child{
			@include span(3 last);
		}

	}

}
.slider_content{
   	margin-top: -100px;
   }

}
@media  (max-width: 660px){

	.box:before{
		background-image: none;
	}
		  .become{
		  	line-height: 45px;

	}
	.how_it_work a.become{
		line-height: 65px;
	}
	.post, .new_friends{
		article{
			margin-bottom: 20px;
		}
	}
	.conversations{
		    height: auto;
    max-height: 100%;
    padding-top: 120px;
    padding-bottom: 100px;

	}

   .become{

    font-size: 30px;
    width: 200px;
    height: 40px;
   }
   .slider_content{
   	margin-top: -80px;
   }
   .four-columns.late{

	article{
		height: 270px;
		@include span(5);
		&:nth-child(2n+1){
			@include span(5 first);
		}
		&:nth-child(2n+2){
			@include span(5 last);
		}
	}

}
.circle-list{
	padding: 0 5%;
	/* width: 100%; */
	li{
		p{
			font-size: 20px;
		}
		.hide{
			margin-right: 5%;
		}
	}
}
.step-form{
	.photo-wrap{
		float: none !important;
		width: 100% !important;
	}
}
}

@media  (min-width: 400px){
header{
		article{
		&:first-child{
			@include span(3 first);
		}
		&:last-child{
			@include span(9 last);

			>div{
              &:nth-child(1){
              	@include span(1 of 12 first);
              }
              &:nth-child(2){
              	@include span(9 of 12 last);

              }
			}

		}
	   }

	}

}
@media  (min-width: 526px){
	header{
		a.ico-logo{
			display: inline-block;
		}
		a.ico-logo-m-svg{
			display: none;
		}
		article{
			&:last-child{
				padding-top: 20px;
			}
		}
	}
	.lk{
		header{
			article{
			&:last-child{
				    margin-top: 5px;
                     margin-bottom: -5px;
				padding-top: 0;
			}
		}
		}
	}

	.fl	 >*{
		float: left !important;

	}
	.bordered-list{
		.long{
			width: 355px !important;
		}
	}
	.step-form .box3 .select-cont{
		margin-left: 10px;
	}
	footer.lk{
		  height: 170px;
		article{
			@include span(4);
			&:first-child{
				@include span(4 first);
			}
			&:last-child{
				@include span(4 last);
			}
		}
	}
}
@media  (max-width: 525px){
    .hide-525{
        display:none;
    }
    .slider_content a {
        margin-top: 150px;
    }
	.steps{
		article{
			text-align: center;
			padding: 0;
			i, img{
				float: none !important;
				margin-bottom: 10px;

			}
			div{
				margin-left: 0 !important;
				text-align: center;
			}
			p{
				text-align: center;
			}
		}
	}
        footer{
        	.bottom{
               padding-top: 15px;
        	}
        	.footer_nav{
        		li{
        			line-height: 25px;
        		}
        	}
        }
        h3{
		padding: 0 10px;
	}
	.response-slider{
		 .slider-inner{
		 	p{
		 		padding: 20px 40px;
		 	}
		 }
	}
	.slider_content{
		margin-top: -70px !important;
		h1,h2{
			display: none;
		}
	}
header{
		a.ico-logo-m-svg{
			display: inline-block;
			float: left;
		}
		a.ico-logo{
			display: none;
		}
		article{
			&:last-child{
				padding-top: 10px;
			}
		}
	}
	 .two_columns{
   	padding-left: 10px;
   	padding-right: 10px;
   }
   .step-form{
   	.select-cont{
   	float: none !important;
   	width: 100% !important;
margin-bottom: 10px !important;
   	>p{
   		width: 100% !important;

   	}
   }
   input[type=text]{
   		width: 100%;
   		margin-bottom: 10px;
   	}
   	label{
   	float: none !important;
   	display: block;
   min-height: 40px;
   }
   span.radio{
   	float: left;
   }
   .bordered-list{
   	span.radio{
   	float: none;
   }
   }
   }
   .buttons{
   	a, button{
   		display: block;
   		margin: 0 auto 20px !important;

   		float: none !important;

   	}
   }
   footer.lk{
		  height: auto;
		  p{
		  	text-align: center !important;
		  	padding: 0 !important;
		  }
		  .soc_list{
		  	float: none !important;
		  	text-align: center;
		  	padding-bottom: 20px;
		  	li{
		  		float: none !important;
		  	}
		  }
		  article{
		  	margin-top: 10px;
		  	div{
		  		padding: 0 !important;
		  	}
		  }
		}
}

@media  (max-width: 400px){
    .four-columns.late{
        	article{
        		display: block !important;
        		float: none !important;
        		text-align: center;
        		width: 100% !important;
        		margin-right: 0 !important;
                height: auto !important;
        	}
    }
    .response-slider .slider-inner p {
        padding: 19px 40px !important;
    }
.slider{
		display: none;
	}

   header{
    margin-bottom: -113px !important;
   	article{
   		width: 100%;
   		text-align: center;
   		div{
   		text-align: center;
   		vertical-align: top;
   			float: none !important;
   			display: inline-block;

   	}

   	}

   	button{
   		float: none !important;
   	}
   }
   .slider_wrap{
   	 .slider_content{
   	 	margin-top: 0 !important;
   	 	position: static;
   	 	margin-left: 0;
   	 	left: 0;
   	 	width: auto;
   	 	a{
   	 		margin-top: 60px;
   	 	}
   	 }
   }
   .step-form{



   input[type="checkbox"] + label{
   	width: auto !important;
   }
   }

}


@media  (max-width: 380px){

    .hide-380{
        display:none;
    }
	.slider_content{
		position: relative !important;
		margin-top: 60px;
	}

	footer{
        	height: auto !important;
        	padding-bottom: 20px;
        	.bottom{
        		position: relative !important;
        		height: auto !important;
        	}
        	.soc_list{
             margin-bottom: 30px;
        	}
        }
        .how_it_work{
        	 .become{
        	 	width: 100%;
        	 }
        }
        header{
        	height: auto;
        	a.ico-logo-m-svg{
        		display: block;
        		margin: auto;
        		float: none;
        	}
        }
        .slider_wrap .slider_content a{
        	margin-top: 100px;
        }
}