.support{
	section{
		padding-top: 0;
		margin-top: -10px;
		margin-bottom: 40px;
		padding-left: 20px;
	}
	.attach-list{
		li{
			font-family: "SeroPro-Medium";
			list-style-type: decimal;
			color: #5ba348;
			line-height: 33px;
			span{
				font-size: 13px;
				color: #999898;
			}
			img{
				margin: 0 7px;
			}
			a,p{
			font-family: "SeroPro-Medium";
			font-size: 16px;
			text-decoration: underline;
			color: #5ba348;
			cursor: pointer;
		}
		.hide{
			font-family: "SeroPro";
			color: #373737;
			font-size: 16px;
			padding: 6px 0;
			line-height: 30px;
		}
		&.active{
			color: #fe793f;
			p{
				color: #fe793f;
			}
		}
		}
		&.bordered{
			li{
				position: relative;
			&:before{
				@include psevdo;
				border-bottom: 1px dashed #c2c2c2;	
				bottom: 0;
				left: -20px;
				right: 0;
			}
			}
		}
	}
	.aside-list{
		padding-top: 10px;
		padding-bottom: 10px;
		li{
			list-style-type: none;
			text-align: center;
			img{
				width: 165px;
				height: 165px;
				border-radius: 50%;
				margin-top: 17px;
				margin-bottom: -10px;
			}
			p{
				    border-bottom: 1px dashed #c2c2c2;
				    line-height: 40px;
				a{
					font-family: "SeroPro-Bold";
				color: #fe793f;
				font-size: 20px;
				text-decoration: underline;	
				}
				&.name{
					font-family: "SeroPro-Bold";
					text-transform: uppercase;
					font-size: 20px;
				}
				&.man-phone{
					font-family: "SeroPro-Medium";					
					font-size: 20px;
					color: #373737;
				}
				&:first-child{
					border-bottom: none;
				}
			}
			a.man-mail{
				color: #8e8e8e;
				text-decoration: underline;
				font-size: 16px;
			}
			&.current:before{
				top: 15px;
			}
		}
	}
}
